.mini-navicaiton {
  background-color: #1976d3;
  box-shadow: 0 6px 20px 0 rgb(25 118 221 / 50%);
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.mini-navicaiton p {
  margin: 10px;
}
@media screen and (max-width: 480px) {
  .mini-navicaiton {
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
  }
  .mini-navicaiton p {
    margin: 2px;
  }
}
